.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1rem;
  gap: 1rem;
}

.form__conponent1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.inputField {
  font-size: medium;
  padding: 0.3rem;
  outline: none;
  border-radius: 5px;
  border: 0.3px solid black;
}

.radio__group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
